%html
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport",content:"width=device-width,initial-scale=1.0"}
    %title {Title}
    %link{rel:"alternate",type:"application/rss+xml",href:"{RSS}"}
    %link{rel:"stylesheet",href:"http://thisboigamer.github.io/tumblr.css"}
  %body
    %header#header
      %h1 {Title}
      {block:Description}
      %h2#description {Description}
      {/block:Description}
    %article
      %ul#posts
        {block:Posts}
        {block:Text}
        %li.postText
          {block:Title}
          %header
            %h3
              %a{href:"{Permalink}"} {Title}
          {/block:Title}
          .content {Body}
        {/block:Text}
        {block:Photo}
        %li.postPhoto
          %img{src:"{PhotoURL-250}"
            alt:"{PhotoAlt}"}

          {block:Caption}
          .caption {Caption}
          {/block:Caption}
        {/block:Photo}
        {block:Panorama}
        %li.postPanorama
          {LinkOpenTag}
          %img{src:"{PhotoURL-Panorama}" alt:"{PhotoAlt}"}
          {LinkCloseTag}
          {block:Caption}
          .caption {Caption}
          {/block:Caption}
        {/block:Panorama}
        {block:Photoset}
        %li.postPhotoset
          {Photoset-250}
          {block:Caption}
          .caption {Caption}
          {/block:Caption}
        {/block:Photoset}
        {block:Quote}
        %li.postQuote
          "{Quote}"
          {block:Source}
            .source {Source}
          {/block:Source}
        {/block:Quote}
        {block:Link}
        %li.postLink
          %a{href:"{URL}" class:"link" target:"_blank"} {Name}
          {block:Description}
          .description {Description}
          {/block:Description}
        {/block:Link}
        {block:Chat}
        %li.postChat
          {block:Title}
          %h3
            %a{href:"{Permalink}"
              {Title}
          {/block:Title}
          %ul.chat
            {block:Lines}
            %li{class:"{Alt} user_{UserNumber}"}
              {block:Label}
              %span.label {Label}
              {/block:Label}
              {Line}
            {/block:Lines}
        {/block:Chat}
        {block:Video}
        %li.postVideo
          {Video-250}
            {block:Caption}
            .caption {Caption}
            {/block:Caption}
        {/block:Video}
        {block:Audio}
        %li.postAudio
          {AudioEmbed-250}
            {block:Caption}
            %ul.caption
              %li Jamming To:
              {block:TrackName}
              %li {TrackName}
              {/block:TrackName}
              {block:Artist}
              %li {Artist}
              {/block:Artist}
              {block:Album}
              %li {Album}
              {/block:Album}
              {Caption}
            {/block:Caption}
        {/block:Audio}
          %footer
            %ul
              %li
                %a{href:"{Permalink}"} Post Permalink
              {block:Date}
              {/block:Date}
              %li {Month} {DayOfMonth}, {Year}
              {block:HasTags}
              %li Tagged
                %ul#tags
                  {block:Tags}
                  %li
                    %a{href:"{TagURL}"} {Tag}
                  {/block:Tags}
              {/block:HasTags}
        {/block:Posts}
    %footer#footer
      %small
        %a{href:"{RSS}"} RSS Feed
